@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #E9B44C;
}
.credits{
    position: relative;
    bottom: 50px;
}
.credits h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.credits h3 span{
    color: rgb(255, 255, 255);
}
.box{
    position: relative;
    width: 240px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: 1.5s;
    
}

.box::before{
    content: '';
    position: absolute;
    height: 240px;
    width: 240px;
    background: #2225;
    z-index: 1000;
    transform: translateY(240px) rotateX(90deg) scale(1.1);
    filter: blur(40px);
}
.box .card{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(50deg, #ddd, #eee);
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 90deg)) translateZ(120px);
    border-radius: 8px;
}

.box .card .img-holder{
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 8px;
}
.box .card .img-holder img{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box .card h2{
    position: relative;
    top:10px;
    left: 0;
    width: 240px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transform: translateZ(30px);
    backface-visibility: hidden;
}
.box .card h2 span{
    font-size: 0.7rem;
    color: red;
}
.btns{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
   
}
.btns .next-btn,
.btns .prev-btn{
    font-size: 1rem;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}